@font-face {

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 1200px;
  }

  .page-header-logo{
    padding: 0;
    margin: 0;
    margin-left: 70px;
    margin-right: 30px;
  }

  .navigation{
    background-color: #FFFFFF;
    height: 64px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
  }

  .navigation-list{
    display: flex;
    flex-wrap: wrap;
    width: 339px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }

  .navigation-link{
    display: block;
    padding: 20px 16px 20px 16px;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;

  }

  .navigation-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-left: 280px;
  }

  .navigation-user-item{
    display: block;
    min-width: 20px;
    min-height: 20px;
    padding: 22px 12px;
  }

  .navigation-user-link-want{
    width: 160px;
    height: 36px;
  }

  .hero {
    background-color: #FFFFFF;
    background-image: url("../img/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 485px;
    background-position: center;
    text-align: center;
  }

  .hero-img{
    padding-top: 51px;
  }

  .want-here{
    border-radius: 4px;
    padding: 8px 50px 8px 50px;
    background-color: #756157;
    color: #FFFFFF;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 0 14px;
  }

  .lead{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    margin-top: 69px;
    margin-bottom: 25px;
  }

  .advantages-describe{
    height: 261px;
  }

  .sub-lead{
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 90px;
  }

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1200px;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  gap: 0;
  align-items: flex-start;
  align-content: flex-start;
}

.advantages-title{
  padding-top: 102px;
  text-align: center;
}

.advantages-image{
  width: 800px;
  height: 385px;
  margin: 0;
  padding: 0;
}

.advantages-item-1{
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  margin: 0;
  padding: 0;
  height: 385px;
}

.advantages-item-2{
  background-color: rgba(131, 179, 211, 0.12);
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 385px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-3{
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  width: 400px;
  height: 385px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-4{
  background-color: rgba(131, 179, 211, 0.12);
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 385px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-5{
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  margin: 0;
  padding: 0;
  height: 385px;
}

  .infrastructure{
    background-color: #FFFFFF;
    color: #000000;
    height: 631px;
  }

  .infrastructure-lead{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-top: 64px;
  }

  .infrastructure-describe{
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 64px;
  }

  .infrastructure-head{
    height: 246px;
  }

  .infrastructure-list{
    width: 1200px;
    height: 385px;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .infrastructure-image{
    margin: 0;
    padding: 0;
  }

  .infrastructure-item-1{
    width: 238px;
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 81px 85px;
  }

  .infrastructure-item-2{
    width: 238px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 81px 85px;
  }

  .infrastructure-item-3{
    width: 238px;
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 81px 85px;
  }

  .search{
    width: 1200px;
    height: 406px;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .search-title{
    margin: 0;
    padding: 0;
    padding-top: 96px;
    padding-bottom: 20px;
  }

  .search-description{
    margin: 0;
    padding: 0;
    padding-bottom: 54px;
  }

  .search-link{
    background-color: #756157;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 4px;
    margin-bottom: 96px;
  }

  .subscribe{
    background-image: url("../img/subscribe-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    width: 1200px;
    height: 415px;
    margin: 0;
    padding: 0;
  }

  .subscribe-title{
    margin: 0;
    padding: 0;
    padding-top: 96px;
    padding-bottom: 20px;
  }

  .subscribe-description{
    padding-bottom: 54px;
  }

  .subscribe-form{
    display: flex;
    height: 52px;
    justify-content: center;
    border: 0;
  }

.subscribe-button{
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

input{
  width: 452px;
  height: 52px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.page-footer{
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.footer-social-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 142px;
}

.social-vk{
  padding: 13px 12px;
}

.social-tg{
  padding: 12px 15px;
}

.social-yt{
  padding: 12px 13px;
}

  .footer-phone{
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
  }
