@font-face {

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    max-width: 1200px;
  }

  .navigation{
    background-color: #FFFFFF;
    height: 64px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation-list{
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 339px;
    list-style: none;
    justify-content: space-between;
  }

  .navigation-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: right;
    width: 268px;
    list-style: none;
  }

  .navigation-user-link-want{
    width: 160px;
    height: 36px;
  }

  .hero {
    background-color: #FFFFFF;
    background-image: url("../img/index-background.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 485px;
    background-position: center;
    text-align: center;
  }

  .want-here{
    border-radius: 4px;
    padding: 8px 50px 8px 50px;
    background-color: #756157;
    color: #FFFFFF;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }

  .lead{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;

  }

  .advantages-describe{
    height: 261px;
  }

  .sub-lead{
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
  }

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1200px;
  flex-direction: row;
  margin: 0;
  justify-content: flex-start;
  gap: 0;
  align-items: flex-start;
  align-content: flex-start;
}

.advantages-image{
  width: 800px;
  height: 385px;
  margin: 0;
  padding: 0;
}

.advantages-item-1{
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  margin: 0;
  padding: 0;
  height: 385px;
}

.advantages-item-2{
  background-color: rgba(131, 179, 211, 0.12);
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 385px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-3{
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
  width: 400px;
  height: 385px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-4{
  background-color: rgba(131, 179, 211, 0.12);
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 385px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-5{
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  margin: 0;
  padding: 0;
  height: 385px;
}

.advantages-title{
  text-align: center;
}

  .infrastructure{
    background-color: #FFFFFF;
    color: #000000;
  }

  .infrastructure-lead{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
  }

  .infrastructure-describe{
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
  }

  .infrastructure-head{
    height: 246px;
  }

  .infrastructure-list{
    width: 1200px;
    height: 385px;
    display: flex;
  }

  .infrastructure-item-1{
    width: 238px;
    height: 215px;
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 81px 85px;
  }

  .infrastructure-item-2{
    width: 238px;
    height: 215px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 81px 85px;
  }

  .infrastructure-item-3{
    width: 238px;
    height: 215px;
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 81px 85px;
  }

  .search{
    width: 1200px;
    height: 406px;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .search-link{
    background-color: #756157;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding: 8px 50px;
    border-radius: 4px;
  }

  .subscribe{
    background-image: url("../img/subscribe-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
    width: 1200px;
    height: 415px;
  }

.page-footer{
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.footer-social-list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  width: 142px;
}

  .footer-phone{
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
  }
